#mainBody {
    text-align: left;
    border: 1px solid #dedede;
    background: #efe4b0;
    width: 800px;
    padding: 20px;
    border-radius:15px;
   
}

form {
  font:100% verdana;
  margin-top:10px;
  width: 800px;


}

form fieldset 
 {position:relative;

  
  margin-left: auto;
  margin-right:auto;
  border:2px solid grey;
  border-radius:15px;
}

legend {
    font-size: 24px;
    border:1px solid green;
    border-radius:5px;
}
form input{
	margin-top:20px;
	border: 1px solid grey;
	border-radius:5px;
	height:25px;
}
form label { 
   // width: 250px;
    padding: 2px;
    margin-top:30px;
}
 #zip{
	margin-left:220px;
	margin-right:auto;
}
p #address{
	margin-left:auto;
	margin-right:auto;
}
#bottom lable {
  margin-left: 100px;
  //margin-right:auto;
  margin-top:20px;
	
}


#buttons {position:absolute;
    right:40px;
    top:0px;
    width:150px;
  
    
}

#buttons #submit{
	font-size:16px;
	font-weight:bold;
    margin: 5px;
    padding:10px;
	width:150px;
	 border:2px solid green;
	 border-radius:15px;
	
}
#same{position:relative;
	width:400px;
	border: 2px solid blue;
}

#label{
	float:left;
	width:150px;
	margin:0px;
	margin-top:10px;margin-left:5px;
	//border:2px solid blue;
}
#input p{
	margin-top:1px;
	margin-bottom:1px;
}
#label p{
	margin-top:5px;
	margin-bottom:10px;
	text-align:right;
}
#input{
	float:left;
	width:150px;
	margin:0px;
	 margin-top:10px;
	
	//border:2px solid blue;
}
#input input{
	//background-color:red;
	margin:0px;
	}
#label label{
	//background-color:red;
	margin:10px;
	text-align:right;
	}
	
.personalInfo
	{ 
	float:left;
	width:320px;
	  height:256px;
	  border:4px solid blue;
	  border-radius:10px;
	  background-color:lightblue;
	 
	}
#paymentInfo
	{ float :left;
	  margin:25px;
	  width:320px;
	  height:200px;
	  border:4px solid blue;
	  border-radius:10px;
	  background-color:lightblue;
	 
	}
#checkbox{
	clear:both
	
}
